[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
factory-boy = "==2.12.0"

[packages]
django = "==3.0.3"
django-environ = "==0.4.5"
requests = "==2.22.0"
gunicorn = "==20.0.4"
heroku = "==0.1.4"
whitenoise = "==5.0.1"
psycopg2 = "==2.8.5"
django-heroku = "==0.3.1"
django-uwsgi = "==0.2.2"

[requires]
python_version = "3.7"
