{% extends 'base.html' %}


{% block content %}

    <section class="p-5">
        <div class="container bg-white p-5 ">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="text-center">
                        <h1 class="font-weight-bold">Test</h1>
                        <p class="text-center">test</p>

                        <form action="." method="post">
                            {% csrf_token %}
                             <p class="font-weight-bold pt-3 mb-0">{{ form.task.label }}:</p>
                                {{ form.task }}
                            <p class="font-weight-bold pt-3 mb-0">{{ form.date_start.label }}:</p>
                                 {{ form.date_start }}
                            <p class="font-weight-bold pt-3 mb-0">{{ form.date_end.label }}:</p>
                                {{ form.date_end }}
                            <p class="font-weight-bold pt-3 mb-0">Godziny pracy w poszczególne dni tygodnia są: </p>
                                <button type="button" class="btn btn-dark btn-sm" onclick="regularHours()">Takie same</button>
                                <button type="button" class="btn btn-dark btn-sm" onclick="variableHours()">Różne</button>

                            <div id="variable-hours" style="display: none">
                                <p class="font-weight-bold pt-3 mb-0">Poniedziałek</p>
                                    Początek: {{ form.monday_hour_start }}
                                    Koniec: {{ form.monday_hour_end }}

                                <p class="font-weight-bold pt-3 mb-0">Wtorek</p>
                                    Początek: {{ form.tuesday_hour_start }}
                                    Koniec: {{ form.tuesday_hour_end }}

                                <p class="font-weight-bold pt-3 mb-0">Środa</p>
                                    Początek: {{ form.wednesday_hour_start }}
                                    Koniec: {{ form.wednesday_hour_end }}

                                <p class="font-weight-bold pt-3 mb-0">Czwartek</p>
                                    Początek: {{ form.thursday_hour_start }}
                                    Koniec: {{ form.thursday_hour_end }}

                                <p class="font-weight-bold pt-3 mb-0">Piątek</p>
                                    Początek: {{ form.friday_hour_start }}
                                    Koniec: {{ form.friday_hour_end }}<br />
                                </div>

                                <div id="regular-hours" style="display: none">
                                    <p class="font-weight-bold pt-3 mb-0">{{ form.hour_start.label }}</p>
                                        {{ form.hour_start }}
                                    <p class="font-weight-bold pt-3 mb-0">{{ form.hour_end.label }}: </p>
                                        {{ form.hour_end }}
                                </div>

                                <p class="font-weight-bold pt-3 mb-0">{{ form.toggl_login.label }}: </p>
                                    {{ form.toggl_login }}
                                <p class="font-weight-bold pt-3 mb-0">{{ form.toggl_password.label }}: </p>
                                    {{ form.toggl_password }}
                                <p class="font-weight-bold pt-3 mb-0">{{ form.toggl_id_number.label }}: </p>
                                    {{ form.toggl_id_number }}
                                <br /><br />

                                <button type="submit" class="btn btn-outline-dark">Dodaj</button>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}