{% extends 'base.html' %}


{% block content %}

    <section class="p-5">
        <div class="custom-box">
            <div class="container bg-white p-5">

                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="text-center">
                            <h1 class="font-weight-bold">Test</h1>
                            <p class="text-center">test</p>

                            {% if messages %}
                                {% for message in messages %}
                                    <div class="alert alert-danger">
                                        {{ message }}
                                    </div>
                                {% endfor %}
                            {% endif %}

                            <form action="." method="post">
                                {% csrf_token %}
                                 <p class="font-weight-bold pt-3 mb-0">{{ form.task.label }}:</p>
                                    {{ form.task }}
                                <p class="font-weight-bold pt-3 mb-0">{{ form.date_start.label }}:</p>
                                     {{ form.date_start }}
                                <p class="font-weight-bold pt-3 mb-0">{{ form.date_end.label }}:</p>
                                    {{ form.date_end }}
                                <p class="font-weight-bold pt-3 mb-0">Godziny pracy w poszczególne dni tygodnia są: </p>

                                {% for choice in form.different_hours %}
                                    <button type="button" class="btn btn-dark btn-sm m-1" onclick="hours()">{{ choice }}</button>
                                {% endfor %}

                                <div id="variable-hours" style="display: none">
                                    <div class="card py-3 my-3">
                                        <p class="font-weight-bold">Poniedziałek</p>
                                        <span onclick="showDay('monday-hours', 'monday-add')" id="monday-add">dodaj</span>
                                        <div id="monday-hours"  style="display: none">
                                            <p>Początek: <br/>{{ form.monday_hour_start }}</p>
                                            <p>Koniec: <br />{{ form.monday_hour_end }}</p>
                                            <span onclick="hideDay('monday-hours', 'monday-add')">ukryj</span>
                                        </div>
                                    </div>

                                    <div class="card py-3 my-3">
                                        <p class="font-weight-bold">Wtorek</p>
                                        <span onclick="showDay('tuesday-hours', 'tuesday-add')" id="tuesday-add">dodaj</span>
                                        <div id="tuesday-hours"  style="display: none">
                                            <p>Początek: <br/>{{ form.tuesday_hour_start }}</p>
                                            <p>Koniec: <br /> {{ form.tuesday_hour_end }}</p>
                                            <span onclick="hideDay('tuesday-hours', 'tuesday-add')">ukryj</span>
                                        </div>
                                    </div>

                                    <div class="card py-3 my-3">
                                        <p class="font-weight-bold">Środa</p>
                                        <span onclick="showDay('wednesday-hours', 'wednesday-add')" id="wednesday-add">dodaj</span>
                                        <div id="wednesday-hours"  style="display: none">
                                            <p>Początek: <br/>{{ form.wednesday_hour_start }}</p>
                                            <p>Koniec: <br />{{ form.wednesday_hour_end }}</p>
                                            <span onclick="hideDay('wednesday-hours', 'wednesday-add')">ukryj</span>
                                        </div>
                                    </div>

                                    <div class="card py-3 my-3">
                                        <p class="font-weight-bold">Czwartek</p>
                                        <span onclick="showDay('thursday-hours', 'thursday-add')" id="thursday-add">dodaj</span>
                                        <div id="thursday-hours"  style="display: none">
                                            <p>Początek: <br/>{{ form.thursday_hour_start }}</p>
                                            <p>Koniec: <br />{{ form.thursday_hour_end }}</p>
                                            <span onclick="hideDay('thursday-hours', 'thursday-add')">ukryj</span>
                                        </div>
                                    </div>

                                    <div class="card py-3 my-3">
                                        <p class="font-weight-bold">Piątek</p>
                                        <span onclick="showDay('friday-hours', 'friday-add')" id="friday-add">dodaj</span>
                                        <div id="friday-hours"  style="display: none">
                                            <p>Początek: <br/>{{ form.friday_hour_start }}</p>
                                            <p>Koniec: <br />{{ form.friday_hour_end }}</p>
                                            <span onclick="hideDay('friday-hours', 'friday-add')">ukryj</span>
                                        </div>
                                    </div>

                                </div>

                                <div id="regular-hours" style="display: none">
                                    <p class="font-weight-bold pt-3 mb-0">{{ form.hour_start.label }}</p>
                                        {{ form.hour_start }}
                                    <p class="font-weight-bold pt-3 mb-0">{{ form.hour_end.label }}: </p>
                                        {{ form.hour_end }}
                                </div>

                                <p class="font-weight-bold pt-3 mb-0">{{ form.toggl_login.label }}: </p>
                                    {{ form.toggl_login }}
                                <p class="font-weight-bold pt-3 mb-0">{{ form.toggl_password.label }}: </p>
                                    {{ form.toggl_password }}
                                <p class="font-weight-bold pt-3 mb-0">{{ form.toggl_id_number.label }}: </p>
                                    {{ form.toggl_id_number }}
                                <br /><br />

                                <button type="submit" class="btn btn-outline-dark">Dodaj</button>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}