@import "variables";

.custom-box {
  width: 100%;
}

@media screen and (min-width: 576px) {
.custom-box {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  }
}


@media screen and (min-width: 768px) {
.custom-box {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  }
}

@media screen and (min-width: 992px) {
.custom-box {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  }
}

@media screen and (min-width: 1200px) {
.custom-box {
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
  }
}

@import "../../node_modules/bootstrap-scss/bootstrap";
